/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* --------- reset ---------- */


html {
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body, p, ul, li {
	margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* --------- typography ---------- */




/* --------- layout ---------- */

.navigation-wrap {
    display: flex;
    width: 100%;
    position: fixed;
    background: white;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

/* --------- components ---------- */

.main-logo {
    height: 60px;
    width: auto;
    margin-left: 25px;
}

.work-happening {
    max-width: 100%;
}

.main-nav {
    display: none; 
}

.headline {
    margin-top: 70px;
    margin-bottom: 20px;
}

.headline h1 {
    color: #323747;
    padding-right: 15px;
}

.headline p {
    color: #5b5e6c;
}
.headline-info {
    margin-bottom: 20px;
    text-align: justify;
}

.headline input {
    width: 100%; 
    display: block;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
    color: #5b5e6c;
    font-family: 'Libre Baskerville', sans-serif;
}

.headline button {
    width: 100%;
    padding: 15px;
    border: transparent;
    border-radius: 3px;
    background-color: #4049aa; 
    color: white;
    margin-bottom: 10px;
}

.sign-in {
    font-size: 12px;
    text-align: center;
}

.main-header {
    margin-left: 25px;
    margin-right: 25px;
}

.second-section {
    background-color: #f5f5f5;
}

.second-headline {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.second-headline h2 {
    color: #323747;
    padding-top: 40px;
}
.second-headline p {
    color: #5b5e6c;
}
.second-headline-img-wrapper { 
    text-align: center;
} 

.second-headline picture {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
}

.last-logo {
    border-bottom: transparent!important;
}

.second-headline button {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    background-color: white;
    color: #1e2f9a;
    border: 1px solid #1e2f9a;
    border-radius: 3px;
    font-weight: bold;
}

.third-section {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.third-section input {
    width: 100%; 
    display: block;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
    color: #5b5e6c;
    font-family: 'Libre Baskerville', sans-serif;
}

.third-section > div:nth-child(1) {
    font-size: 1.5em;
    color: #323747;
    margin-bottom: 5px;
}

.third-section > div:nth-child(2) {
    font-size: 16px;
    color: #323747;
    margin-bottom: 10px;
}

.third-section button {
    width: 100%;
    padding: 15px;
    border: transparent;
    border-radius: 3px;
    background-color: #4049aa; 
    color: white;
    margin-bottom: 10px;
}

.slack-logo-img {
    height: 100px;
    width: auto;
}

.fourth-section {
    margin-left: 25px;
    margin-right: 25px;
}


.flex-container {
    display: flex;
}

.flex-container ul:nth-child(1) {
    margin-right: 50px;
}

.ul-heading {
    margin-bottom: 10px!important;
    font-size: 16px!important;
    
}

.flex-container li {
    margin-bottom: 5px;
    color: #6d6f7a!important;
    font-size: 12px;
}

.flex-container-footer {
    display: flex;
    justify-content: space-between;
    color: #6d6f7a;
    font-weight: 700;
    font-size: 12px;
}

.margin-top-20 {
    margin-top: 20px;
}

@media (min-width: 768px) {

   
  }


/*  -- site header -- */

/*  -- site nav -- */


/*  -- site main -- */


/*  -- site footer -- */




/* --------- pages ---------- */



/* --------- TEMP ----------
div, header, footer, nav, article {
	border: 1px solid black;
} */